*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--pagdrao);
  text-decoration: none;
}

:root{
  --primaria-texto: rgb(84, 97, 92); 
  --seconds-color:rgb(80, 153, 172)  ;
  --pagdrao:black;
  --color-h2:rgb(23, 100, 62);
  --color-hover:rgb(73, 117, 73);
}
body {
 background-image: url("./img/fundo-img.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 min-width: 360px;
}
.container{
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color:rgb(241, 238, 243);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  height: 50rem;
  
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  
}


header h2:hover{
  font-size: 25px;
  background-color: yellowgreen;
  border-bottom: 1px dashed blue;
  border-radius: 5px;
  transition: 0.5s;
  color: rgb(73, 117, 73);
}
header nav ul,li  {
  display: flex;
  gap: 64px;
}
header nav ul a {
  font-size:1.563rem;
    text-decoration: none;
      
}
header nav  ul li{
  font-size: 25px;
}

header .nav li:hover{
    font-size: 30px;
    color: rgb(73, 117, 73);
    transition: 0.5s;
    
}

main {
  width: 100%;
  height: 100%;
 
}
main section {
  padding: 1.563rem;
}
.foto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  
}
.foto p{
  padding-top: 10px;
  font-size: 30px;
  color: var(--primaria-texto);
}
.fotos{
 
  width: 350px;
  border-radius: 10px 200px 10px;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) -10px 20px 10px;
  
}

 main section h1{
  font-size:90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
 }
 main section h3{
  font-size:45px ;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
 }

 main section .img{
  display: flex;
  gap: 20px;
 }
 main section.img img:hover{
  border: 1px solid transparent;
 
 }
 
  /*midia query*/

 @media screen and (max-width: 359px ) {
  
  header {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    
    padding-top: 30px;
  
  }
  
  header ul,li  {
    display: flex;
    flex-direction: column;
    
  }
  header nav ul,li  {
    display: flex;
    gap: 10px;
    
  }
 
  header h2{
    margin-bottom: 20px;

  }
  main section h1{
      font-size: 1rem;
      
  }
  main section h3{
    font-size: 1.5rem;
  }
 
  main .fotos{
    display: none;
  }
  .foto p{
    margin-top: 20px;
    font-size: 20px;
  }
  

 }
 @media screen and (min-width: 360px ) and (max-width: 670px){
  
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  header nav ul,li  {
    padding-top: 10px;
    display: flex;
    gap: 22px;
  }
  main section h1{
    font-size: 1rem;
  }
  main section h3{
    font-size: 1.5rem;
  }
  main section h1 , h3{
    padding-left: 2rem;
  }
  
  main .fotos{
    display: none;
  }
  .foto p{
    margin-top: 20px;
    font-size: 18px;
  }

  main .img {
     margin-bottom: 50px;
    padding-top: 20px;
    margin-left: 30px;
  }
  
 }
 
 @media  screen and (min-width: 670px ) and (max-width: 779px){
  
   main .fotos{
    display: none;
  }
 
  main section h1{
    font-size:20px;
   
   }
   main section .img{
    padding: 30px;
   }
   .foto{
    padding-top: ;
   }
 }
 @media  (min-width: 780px ) and (max-width: 1005px){
  .foto{
    padding-top: 40px;
  }
  .foto .fotos{
    width: 275px;
   
  }
  main section h1{
    font-size:60px;
   
   }
   main section h3{
    font-size:30px ;
    
   }

}
