
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sobre{
  text-align: center;
}
.sobre p{
  color: var(--primaria-texto);
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sobre h2{
  margin-bottom: 10px;
  color:var(--color-h2);
}
.sobre strong{
  font-size: 20px;
  color: var(--seconds-color);
}



footer {
  position: relative;
  bottom: 200px;
   display: flex;
   justify-content: space-around;
   
}

/* midia query*/
@media screen and (max-width: 359px ) {
  
  header {
    margin-top: -20px;
    margin-bottom: -20px;
  }
footer {
  display: none;
}

 }
 @media screen and (min-width: 360px ) and (max-width: 670px){
  footer {
    display: none;
  }
  
 }