
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header strong{
  border-radius: 50%;
  background-color: green;
}
.sobre a,li{
  text-decoration: none;
  color: var(--seconds-color);
}
.sobre{
  text-align: center;
}
.sobre p{
  color: var(--primaria-texto);
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sobre h2{
  margin-bottom: 10px;
  color:var(--color-h2);
}
.inicio {
  
  font-size: 30px;
  color: var(--seconds-color);
}
.inicio:hover{
 font-size: 35px;
}


footer {
  position: relative;

   display: flex;
   justify-content: space-around;
   
}

/* midia query*/
@media screen and (max-width: 359px ) {
  
  header {
    margin-top: -20px;
    margin-bottom: -20px;
  }
footer {
  display: none;
}

 }
 @media screen and (min-width: 360px ) and (max-width: 670px){
  footer {
    display: none;
  }
  
 }