header strong{
  border-radius: 50%;
  background-color: green;
}
.projetos a,li{
  text-decoration: none;
  color: var(--seconds-color);
}
.inicio {
  
  font-size: 30px;
  color: var(--seconds-color);
}
.inicio:hover{
 font-size: 35px;
}